body{
  background-color: black;
  background: url("./images/planets/background.jpg");
  height: 800px;
}
#contact{
  text-align: center;
  // left: 39%;
  position: relative;
  top: 10%;
}
h6, h6 a{
  font: 20px serif;
  display: inline-block;
  text-align: right;
  color: white;
  margin: 10px;
}
.planet{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#sun{
  height: 100px;
  width: 100px;
  box-shadow: 0 0 50px yellow;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
  left: 50%;
  position: absolute;
  background: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}


#filfil{
  transform-origin: 300px 300px;
  margin-left: -300px;
  margin-top: -300px;
  top: 55%;
  left: 55%;
  animation: orbitRight 8.5s linear infinite;
  background: white;
}
#ga{
  transform-origin: 150px 150px;
  margin-left: -150px;
  margin-top: -150px;
  animation: orbitRight 4.5s linear infinite;
}
#gsdo{
  transform-origin: 150px 150px;
  margin-left: -150px;
  margin-top: -150px;
  animation: orbitRight 6s linear infinite;
}
#nols{
  transform-origin: 250px 250px;
  margin-left: -250px;
  margin-top: -250px;
  animation: orbitLeft 13s linear infinite;
}
#aboutme{
  width: 75px;
  transform-origin: 200px 200px;
  margin-left: -200px;
  margin-top: -200px;
  animation: orbitLeft 4s linear infinite;
}

#information{
  position: relative;
  top: 20%;
  left: 0%;
  width: 100%;
}

.close{
  color: black;
  box-shadow: 0 0 20px black;
  border-style: none;
  height: 30px;
  width: 30px;
  font: 20px serif;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 85%;
  margin: 0px 40px;
}

.blurb{
  position: relative;
  left: 17.5%;
  top: 50px;
  width: 60%;
  /*height: 100%;*/
  justify-content: center;
  background: rgba(22,22,22, 0.8);
  border-radius: 15px;
  overflow: auto;
  text-align: left;
  font-weight: 500;
  color: white;
  margin-bottom: 80px;
}

.time{
  font-size: 80%;
}

/*div.blurb{
  padding: 20px;
  font-size: 100%;
}*/

div.verbage .head{
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 30px;
}
.desc{
  margin: 30px;
  font-size: 100%;
}

.project-name a{
  color: white;
  // text-decoration: none;
  font-size: 1.2em;
}
.project-name{
  margin-left: 30px;
}

.skills{
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
}
img.skill{
  height: 100px;
  width: 100px;
}

@keyframes orbitRight {
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes orbitLeft {
  100%{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

 /* http://stackoverflow.com/questions/30074246/how-to-create-ripple-effect-on-click-material-design */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s ease-out;
}
@keyframes rippleDrop {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.modal{
  animation: modal 0.5s;
  animation-direction: alternate;
}

@keyframes modal {
  0%{
    height: 0;
    width: 0;
  }
  10%{
    height: 5%;
    width: 5%;
  }
  20%{
    height: 10%;
    width:10%;
  }
  100%{
    height: 80%;
    width: 80%;
  }
}




#comet{
  animation: streak 0.8s ease-in infinite;
  position: relative;
  border-radius: 50%
}

@keyframes streak{
  0%{
    opacity: 0.1;
  }25%{
    opacity: 0.4;
    color: silver;
  }
  75%{
    opacity: 1;
    color: white;
    box-shadow: 0 0 35px white;
  }
  100%{


  }
}
